flows.json
[
    {
        "id": "f4adac4313098acc",
        "type": "tab",
        "label": "Fluxo 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f6d60eb1b6ee0173",
        "type": "http in",
        "z": "f4adac4313098acc",
        "name": "Receber Ação do Jogador",
        "url": "/api/rpg",
        "method": "post",
        "upload": false,
        "skipBodyParsing": false,
        "swaggerDoc": "",
        "x": 250,
        "y": 160,
        "wires": [
            [
                "c96554036639994d"
            ]
        ]
    },
    {
        "id": "c96554036639994d",
        "type": "function",
        "z": "f4adac4313098acc",
        "name": "Montar prompt",
        "func": "const acao = msg.payload.acao;\nconst sistema = msg.payload.sistema || \"D&D 5e\";\nconst tom = msg.payload.tom || \"Fantasia\";\nconst local = msg.payload.local || \"Mundo desconhecido\";\n\nconst prompt = `\nVocê é \"Mestre Arcane\", um experiente Mestre de RPG especializado em criar aventuras envolventes, coerentes e imersivas.\n\nREGRAS IMPORTANTES:\n\n1. Nunca controle as ações do jogador.\n2. Apenas descreva as consequências da ação realizada.\n3. Seja criativo, mas mantenha coerência com o cenário.\n4. Gere respostas entre 50 e 150 palavras.\n5. Descreva ambientes, sons, emoções e consequências.\n6. Se a ação for impossível, explique por que falhou.\n7. Sempre avance a história.\n8. Nunca saia do personagem de Mestre de RPG.\n9. Não explique regras nem diga que é uma IA.\n10. Responda SOMENTE com JSON válido.\n\nCONFIGURAÇÃO DA CAMPANHA\n\nSistema: ${sistema}\nTom: ${tom}\nLocal atual: ${local}\n\nAÇÃO DO JOGADOR\n\n${acao}\n\nANALISE A AÇÃO E DETERMINE:\n\n- Grau de sucesso\n- Consequências\n- Ganho de experiência\n- Dano recebido\n- Recompensas encontradas\n\nRESPONDA EXATAMENTE NESTE FORMATO:\n\n{\n  \"resultado\":\"sucesso|falha|critico\",\n  \"vida_perdida\":0,\n  \"xp_ganho\":0,\n  \"ouro_ganho\":0,\n  \"narrativa\":\"texto da aventura\"\n}\n\nNÃO adicione markdown.\nNÃO use blocos \\`\\`\\`.\nNÃO escreva explicações.\nAPENAS JSON.\n`;\n\nmsg.payload = {\n    contents: [\n        {\n            parts: [\n                {\n                    text: prompt\n                }\n            ]\n        }\n    ],\n    generationConfig: {\n        temperature: 0.8\n    }\n};\n\nconst API_KEY = \"SUA_CHAVE_API_AQUI\";\n\nmsg.url =\"https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent?key=\" + API_KEY;\n\nmsg.headers = {\n    \"Content-Type\":\"application/json\"\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 160,
        "wires": [
            [
                "541b9cc0083dc021"
            ]
        ]
    },
    {
        "id": "541b9cc0083dc021",
        "type": "http request",
        "z": "f4adac4313098acc",
        "name": "Chamar mestre de IA (gemini)",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 770,
        "y": 160,
        "wires": [
            [
                "dae8cd8ea6fb8ca4"
            ]
        ]
    },
    {
        "id": "f7f0a7ef6fb3d4e7",
        "type": "http in",
        "z": "f4adac4313098acc",
        "name": "Abrir Interface RPG",
        "url": "/rpg",
        "method": "get",
        "upload": false,
        "skipBodyParsing": false,
        "swaggerDoc": "",
        "x": 270,
        "y": 300,
        "wires": [
            [
                "67f331fcacbfe2c1"
            ]
        ]
    },
    {
        "id": "67f331fcacbfe2c1",
        "type": "template",
        "z": "f4adac4313098acc",
        "name": "Interface RPG",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<!DOCTYPE html>\n<html lang=\"pt-BR\">\n<head>\n<meta charset=\"UTF-8\">\n<meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n<title>Santuário do Mestre - IA RPG</title>\n\n<style>\n@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@600;700&family=Inter:wght@400;500;600;700&display=swap');\n\n:root{\n    --bg:#07090c;\n    --bg-soft:#0d1118;\n    --panel:rgba(16,18,24,0.86);\n    --panel-strong:rgba(22,24,31,0.96);\n    --line:rgba(221,180,103,0.22);\n    --line-strong:rgba(221,180,103,0.48);\n    --gold:#ddb467;\n    --gold-soft:#f3d99b;\n    --ember:#c85c3d;\n    --ember-strong:#ef7b54;\n    --teal:#5db6aa;\n    --ink:#f7efe1;\n    --muted:#a7a095;\n    --muted-strong:#cfc5b2;\n    --shadow:0 24px 80px rgba(0,0,0,0.48);\n    --radius:8px;\n    --fast:160ms ease;\n}\n\n*{\n    box-sizing:border-box;\n}\n\nhtml{\n    min-height:100%;\n    background:var(--bg);\n}\n\nbody{\n    min-height:100vh;\n    margin:0;\n    color:var(--ink);\n    font-family:'Inter',system-ui,-apple-system,BlinkMacSystemFont,'Segoe UI',sans-serif;\n    letter-spacing:0;\n    background:\n        linear-gradient(115deg,rgba(93,182,170,0.08),transparent 30%),\n        radial-gradient(circle at 82% 18%,rgba(200,92,61,0.18),transparent 28%),\n        radial-gradient(circle at 12% 86%,rgba(221,180,103,0.13),transparent 30%),\n        linear-gradient(180deg,#090b10 0%,#07090c 48%,#0a0b0d 100%);\n}\n\nbody::before{\n    content:\"\";\n    position:fixed;\n    inset:0;\n    pointer-events:none;\n    background-image:\n        linear-gradient(rgba(255,255,255,0.018) 1px,transparent 1px),\n        linear-gradient(90deg,rgba(255,255,255,0.015) 1px,transparent 1px);\n    background-size:48px 48px;\n    mask-image:linear-gradient(to bottom,rgba(0,0,0,0.78),transparent 82%);\n}\n\nbutton,\nselect,\ninput,\ntextarea{\n    font:inherit;\n}\n\nbutton{\n    border:0;\n}\n\n.rpg-shell{\n    width:min(1440px,100%);\n    min-height:100vh;\n    margin:0 auto;\n    padding:28px;\n    display:flex;\n    flex-direction:column;\n    gap:18px;\n}\n\n.topbar{\n    display:flex;\n    justify-content:space-between;\n    gap:24px;\n    align-items:flex-start;\n    padding:8px 4px 0;\n}\n\n.brand{\n    display:flex;\n    align-items:center;\n    gap:14px;\n}\n\n.brand-mark{\n    width:52px;\n    height:52px;\n    border:1px solid var(--line-strong);\n    border-radius:50%;\n    display:grid;\n    place-items:center;\n    color:var(--gold-soft);\n    background:\n        radial-gradient(circle at 50% 40%,rgba(243,217,155,0.22),transparent 58%),\n        linear-gradient(145deg,rgba(221,180,103,0.18),rgba(93,182,170,0.08));\n    box-shadow:0 0 32px rgba(221,180,103,0.16), inset 0 0 18px rgba(221,180,103,0.08);\n    flex:0 0 auto;\n}\n\n.brand-mark svg{\n    width:28px;\n    height:28px;\n}\n\n.brand h1{\n    margin:0;\n    font-family:'Cinzel',Georgia,serif;\n    font-size:clamp(28px,3vw,44px);\n    line-height:1;\n    letter-spacing:0;\n}\n\n.brand p{\n    margin:8px 0 0;\n    color:var(--muted);\n    font-size:15px;\n}\n\n.status-strip{\n    display:flex;\n    align-items:center;\n    gap:10px;\n    flex-wrap:wrap;\n    justify-content:flex-end;\n    max-width:600px;\n}\n\n.status-pill{\n    display:inline-flex;\n    align-items:center;\n    gap:8px;\n    min-height:34px;\n    padding:0 12px;\n    border:1px solid rgba(93,182,170,0.26);\n    border-radius:999px;\n    background:rgba(93,182,170,0.08);\n    color:#d5fffa;\n    font-size:13px;\n    font-weight:600;\n}\n\n.status-dot{\n    width:8px;\n    height:8px;\n    border-radius:50%;\n    background:var(--teal);\n    box-shadow:0 0 16px rgba(93,182,170,0.8);\n}\n\n.status-pill.is-warn{\n    border-color:rgba(200,92,61,0.34);\n    background:rgba(200,92,61,0.09);\n    color:#ffd6c9;\n}\n\n.status-pill.is-warn .status-dot{\n    background:var(--ember-strong);\n    box-shadow:0 0 16px rgba(239,123,84,0.72);\n}\n\n.layout{\n    flex:1;\n    display:grid;\n    grid-template-columns:minmax(260px,330px) minmax(0,1fr);\n    gap:18px;\n    min-height:0;\n}\n\n.control-rail,\n.story-panel{\n    border:1px solid var(--line);\n    border-radius:var(--radius);\n    background:linear-gradient(180deg,rgba(24,25,31,0.94),rgba(10,12,16,0.92));\n    box-shadow:var(--shadow);\n    position:relative;\n    overflow:hidden;\n}\n\n.control-rail::before,\n.story-panel::before{\n    content:\"\";\n    position:absolute;\n    inset:0;\n    pointer-events:none;\n    border-top:1px solid rgba(255,255,255,0.08);\n}\n\n.control-rail{\n    padding:22px;\n    display:flex;\n    flex-direction:column;\n    gap:20px;\n}\n\n.section-title{\n    margin:0;\n    color:var(--gold-soft);\n    font-family:'Cinzel',Georgia,serif;\n    font-size:20px;\n    line-height:1.2;\n}\n\n.section-note{\n    margin:7px 0 0;\n    color:var(--muted);\n    font-size:13px;\n    line-height:1.5;\n}\n\n.field-stack{\n    display:grid;\n    gap:15px;\n}\n\n.form-group{\n    display:grid;\n    gap:7px;\n}\n\n.form-group label{\n    color:var(--muted-strong);\n    font-size:12px;\n    font-weight:700;\n    text-transform:uppercase;\n    letter-spacing:0;\n}\n\n.form-group select,\n.form-group input,\n.input-area textarea{\n    width:100%;\n    color:var(--ink);\n    border:1px solid rgba(221,180,103,0.28);\n    border-radius:var(--radius);\n    background:rgba(3,5,8,0.58);\n    outline:none;\n    transition:border-color var(--fast),box-shadow var(--fast),background var(--fast);\n}\n\n.form-group select,\n.form-group input{\n    height:44px;\n    padding:0 12px;\n}\n\n.form-group select:focus,\n.form-group input:focus,\n.input-area textarea:focus{\n    border-color:rgba(221,180,103,0.72);\n    box-shadow:0 0 0 3px rgba(221,180,103,0.11);\n    background:rgba(8,10,14,0.82);\n}\n\n.primary-button,\n.send-button{\n    min-height:44px;\n    border-radius:var(--radius);\n    color:#160b06;\n    background:linear-gradient(135deg,var(--gold-soft),#d89b51 58%,var(--ember-strong));\n    font-weight:800;\n    cursor:pointer;\n    box-shadow:0 12px 32px rgba(200,92,61,0.22);\n    transition:transform var(--fast),filter var(--fast),box-shadow var(--fast);\n}\n\n.primary-button{\n    width:100%;\n}\n\n.primary-button:hover,\n.send-button:hover{\n    filter:brightness(1.07);\n    transform:translateY(-1px);\n    box-shadow:0 16px 38px rgba(200,92,61,0.28);\n}\n\n.primary-button:disabled,\n.send-button:disabled{\n    cursor:not-allowed;\n    filter:saturate(0.4) brightness(0.82);\n    transform:none;\n    box-shadow:none;\n}\n\n.campaign-card{\n    margin-top:auto;\n    border:1px solid rgba(93,182,170,0.22);\n    border-radius:var(--radius);\n    background:\n        linear-gradient(135deg,rgba(93,182,170,0.12),transparent 48%),\n        rgba(5,7,10,0.62);\n    padding:16px;\n}\n\n.campaign-card h3{\n    margin:0 0 12px;\n    color:#d8fffa;\n    font-size:14px;\n}\n\n.summary-list{\n    display:grid;\n    gap:10px;\n}\n\n.summary-item{\n    display:flex;\n    justify-content:space-between;\n    gap:12px;\n    color:var(--muted);\n    font-size:13px;\n}\n\n.summary-item strong{\n    color:var(--ink);\n    font-weight:700;\n    text-align:right;\n}\n\n.story-panel{\n    display:flex;\n    flex-direction:column;\n    min-width:0;\n}\n\n.story-header{\n    display:flex;\n    justify-content:space-between;\n    align-items:flex-start;\n    gap:18px;\n    padding:22px 24px 16px;\n    border-bottom:1px solid rgba(221,180,103,0.16);\n    background:\n        linear-gradient(90deg,rgba(221,180,103,0.08),transparent 42%),\n        rgba(255,255,255,0.012);\n}\n\n.story-title-group h2{\n    margin:0;\n    font-size:20px;\n    line-height:1.25;\n}\n\n.story-title-group p{\n    margin:7px 0 0;\n    color:var(--muted);\n    font-size:13px;\n}\n\n.tone-meter{\n    display:flex;\n    align-items:center;\n    gap:8px;\n    color:#d5fffa;\n    font-size:12px;\n    font-weight:800;\n    text-transform:uppercase;\n    white-space:nowrap;\n}\n\n.meter-bars{\n    display:flex;\n    gap:4px;\n    align-items:end;\n    height:18px;\n}\n\n.meter-bars span{\n    width:5px;\n    border-radius:5px 5px 0 0;\n    background:linear-gradient(180deg,var(--teal),rgba(93,182,170,0.35));\n}\n\n.meter-bars span:nth-child(1){height:7px;}\n.meter-bars span:nth-child(2){height:11px;}\n.meter-bars span:nth-child(3){height:15px;}\n\n.chat-log{\n    flex:1;\n    min-height:420px;\n    overflow:auto;\n    padding:24px;\n    display:flex;\n    flex-direction:column;\n    gap:14px;\n    scroll-behavior:smooth;\n}\n\n.message{\n    width:min(780px,100%);\n    border:1px solid rgba(255,255,255,0.08);\n    border-radius:var(--radius);\n    padding:16px 17px;\n    line-height:1.65;\n    color:var(--ink);\n    background:rgba(255,255,255,0.045);\n}\n\n.message.ia{\n    align-self:flex-start;\n    border-color:rgba(221,180,103,0.24);\n    background:\n        linear-gradient(135deg,rgba(221,180,103,0.11),transparent 55%),\n        rgba(255,255,255,0.04);\n}\n\n.message.player{\n    align-self:flex-end;\n    border-color:rgba(93,182,170,0.28);\n    background:\n        linear-gradient(135deg,rgba(93,182,170,0.12),transparent 60%),\n        rgba(255,255,255,0.04);\n}\n\n.message.error{\n    border-color:rgba(200,92,61,0.42);\n    background:rgba(200,92,61,0.1);\n}\n\n.speaker{\n    display:flex;\n    align-items:center;\n    gap:8px;\n    margin-bottom:8px;\n    color:var(--gold-soft);\n    font-size:13px;\n    font-weight:800;\n    text-transform:uppercase;\n}\n\n.player .speaker{\n    color:#bff9f2;\n}\n\n.message-text{\n    white-space:pre-wrap;\n}\n\n.message-meta{\n    margin-top:12px;\n    color:var(--muted);\n    font-size:12px;\n}\n\n.input-area{\n    display:grid;\n    grid-template-columns:minmax(0,1fr) 136px;\n    gap:12px;\n    padding:18px 24px 24px;\n    border-top:1px solid rgba(221,180,103,0.16);\n    background:rgba(3,5,8,0.44);\n}\n\n.input-area textarea{\n    min-height:70px;\n    max-height:180px;\n    resize:vertical;\n    padding:14px;\n    line-height:1.5;\n}\n\n.send-button{\n    align-self:stretch;\n}\n\n.sr-only{\n    position:absolute;\n    width:1px;\n    height:1px;\n    padding:0;\n    margin:-1px;\n    overflow:hidden;\n    clip:rect(0,0,0,0);\n    white-space:nowrap;\n    border:0;\n}\n\n::-webkit-scrollbar{\n    width:10px;\n}\n\n::-webkit-scrollbar-track{\n    background:rgba(255,255,255,0.03);\n}\n\n::-webkit-scrollbar-thumb{\n    background:rgba(221,180,103,0.45);\n    border-radius:999px;\n    border:2px solid rgba(3,5,8,0.9);\n}\n\n@media (max-width:980px){\n    .rpg-shell{\n        padding:18px;\n    }\n\n    .topbar{\n        flex-direction:column;\n    }\n\n    .status-strip{\n        justify-content:flex-start;\n    }\n\n    .layout{\n        grid-template-columns:1fr;\n    }\n\n    .campaign-card{\n        margin-top:0;\n    }\n\n    .chat-log{\n        min-height:390px;\n    }\n}\n\n@media (max-width:640px){\n    .rpg-shell{\n        padding:12px;\n        gap:12px;\n    }\n\n    .brand{\n        align-items:flex-start;\n    }\n\n    .brand-mark{\n        width:44px;\n        height:44px;\n    }\n\n    .control-rail,\n    .story-header,\n    .chat-log,\n    .input-area{\n        padding:16px;\n    }\n\n    .story-header{\n        flex-direction:column;\n    }\n\n    .input-area{\n        grid-template-columns:1fr;\n    }\n\n    .send-button{\n        min-height:48px;\n    }\n}\n</style>\n</head>\n\n<body>\n<div class=\"rpg-shell\">\n    <header class=\"topbar\">\n        <div class=\"brand\">\n            <div class=\"brand-mark\" aria-hidden=\"true\">\n                <svg viewBox=\"0 0 32 32\" fill=\"none\">\n                    <path d=\"M16 3l3.7 7.7 8.3 1.2-6 5.9 1.4 8.2-7.4-3.9L8.6 26l1.4-8.2-6-5.9 8.3-1.2L16 3z\" stroke=\"currentColor\" stroke-width=\"1.8\" stroke-linejoin=\"round\"/>\n                    <path d=\"M16 10.5v8.7M11.7 15h8.6\" stroke=\"currentColor\" stroke-width=\"1.6\" stroke-linecap=\"round\"/>\n                </svg>\n            </div>\n            <div>\n                <h1>Santuário do Mestre</h1>\n                <p>Mestre de RPG com IA</p>\n            </div>\n        </div>\n\n        <div class=\"status-strip\">\n            <div class=\"status-pill\" id=\"connectionStatus\" aria-live=\"polite\">\n                <span class=\"status-dot\" aria-hidden=\"true\"></span>\n                Pronto para narrar\n            </div>\n            <div class=\"status-pill\">\n                <span class=\"status-dot\" aria-hidden=\"true\"></span>\n                Node-RED / Gemini\n            </div>\n        </div>\n    </header>\n\n    <div class=\"layout\">\n        <aside class=\"control-rail\">\n            <div>\n                <h2 class=\"section-title\">Configuração</h2>\n                <p class=\"section-note\">Defina o sistema, o tom e o local para abrir uma aventura coerente.</p>\n            </div>\n\n            <div class=\"field-stack\">\n                <div class=\"form-group\">\n                    <label for=\"sistema\">Sistema</label>\n                    <select id=\"sistema\">\n                        <option value=\"D&D 5e\">D&D 5ª Edição</option>\n                        <option value=\"Pathfinder\">Pathfinder</option>\n                        <option value=\"Tormenta20\">Tormenta20</option>\n                        <option value=\"Call of Cthulhu\">Call of Cthulhu</option>\n                    </select>\n                </div>\n\n                <div class=\"form-group\">\n                    <label for=\"tom\">Tom</label>\n                    <select id=\"tom\">\n                        <option value=\"Epico\">Épico</option>\n                        <option value=\"Sombrio\">Sombrio</option>\n                        <option value=\"Misterio\">Mistério</option>\n                        <option value=\"Comedia\">Comédia</option>\n                    </select>\n                </div>\n\n                <div class=\"form-group\">\n                    <label for=\"local\">Local Atual</label>\n                    <input id=\"local\" value=\"Masmorra de Nahemah\">\n                </div>\n\n                <button class=\"primary-button\" id=\"introButton\" type=\"button\" onclick=\"gerarIntroducao()\">\n                    Gerar introdução\n                </button>\n            </div>\n\n            <div class=\"campaign-card\">\n                <h3>Campanha ativa</h3>\n                <div class=\"summary-list\">\n                    <div class=\"summary-item\">\n                        <span>Sistema</span>\n                        <strong id=\"summarySystem\">D&D 5ª Edição</strong>\n                    </div>\n                    <div class=\"summary-item\">\n                        <span>Tom</span>\n                        <strong id=\"summaryTone\">Épico</strong>\n                    </div>\n                    <div class=\"summary-item\">\n                        <span>Local</span>\n                        <strong id=\"summaryLocation\">Masmorra de Nahemah</strong>\n                    </div>\n                </div>\n            </div>\n        </aside>\n\n        <main class=\"story-panel\">\n            <div class=\"story-header\">\n                <div class=\"story-title-group\">\n                    <h2>Mesa narrativa</h2>\n                    <p id=\"campaignLocation\">Masmorra de Nahemah</p>\n                </div>\n                <div class=\"tone-meter\" aria-label=\"Intensidade narrativa\">\n                    <div class=\"meter-bars\" aria-hidden=\"true\"><span></span><span></span><span></span></div>\n                    <span id=\"toneLabel\">Épico</span>\n                </div>\n            </div>\n\n            <section class=\"chat-log\" id=\"chatLog\" aria-live=\"polite\" aria-label=\"Narrativa da aventura\">\n                <article class=\"message ia\">\n                    <span class=\"speaker\">Mestre Arcane</span>\n                    <div class=\"message-text\">Bem-vindo aventureiro.\n\nDiante de você existe uma pesada porta coberta por runas antigas.\n\nO ar está frio e um silêncio estranho domina o corredor.\n\nO que você faz?</div>\n                </article>\n            </section>\n\n            <div class=\"input-area\">\n                <label class=\"sr-only\" for=\"userInput\">Digite sua ação</label>\n                <textarea id=\"userInput\" placeholder=\"Digite sua ação...\"></textarea>\n                <button class=\"send-button\" id=\"sendButton\" type=\"button\" onclick=\"enviarMensagem()\">\n                    Enviar\n                </button>\n            </div>\n        </main>\n    </div>\n</div>\n\n<script>\nconst fallbackIntroductions = {\n    Epico: \"As tochas despertam uma luz antiga nas pedras da masmorra. Ao longe, tambores ecoam como se anunciassem a chegada de um campeão esquecido. A porta diante de você vibra com runas douradas, e uma corrente de ar quente revela o cheiro de metal, poeira e destino. O que você faz?\",\n    Sombrio: \"A masmorra respira como uma criatura adormecida. Gotas caem em algum lugar invisível, marcando o tempo de forma cruel. A porta à frente está coberta por marcas de unhas e símbolos gastos, e uma sombra parece se mover por baixo dela. O que você faz?\",\n    Misterio: \"Uma névoa fina rasteja pelo chão da masmorra, escondendo pegadas que não estavam ali há um instante. A porta diante de você traz um selo partido e uma inscrição incompleta, como se alguém tivesse apagado a parte mais importante. O que você faz?\",\n    Comedia: \"A masmorra tenta parecer ameaçadora, mas uma placa torta na porta avisa: 'Perigo moderado, cuidado com o degrau'. Ainda assim, as runas brilham com energia real, e algo pesado se arrasta do outro lado. O que você faz?\"\n};\n\nconst fallbackActions = [\n    \"Sua ação muda o ritmo da cena. O Mestre Arcane observa as consequências se acumularem: uma passagem se revela, um perigo se aproxima e uma escolha difícil se forma diante do grupo.\",\n    \"O ambiente responde de imediato. Poeira cai das paredes, um som distante confirma que você chamou atenção, e uma pista útil surge onde antes havia apenas sombra.\",\n    \"A tentativa avança a história, mas cobra cautela. Você percebe um detalhe novo, evita uma ameaça maior por pouco e sente que a próxima decisão pode definir o rumo da aventura.\"\n];\n\nconst labels = {\n    Epico: \"Épico\",\n    Sombrio: \"Sombrio\",\n    Misterio: \"Mistério\",\n    Comedia: \"Comédia\"\n};\n\nlet introTimer;\n\nfunction byId(id){\n    return document.getElementById(id);\n}\n\nfunction campaignPayload(){\n    return {\n        sistema: byId(\"sistema\").value,\n        tom: byId(\"tom\").value,\n        local: byId(\"local\").value.trim() || \"Mundo desconhecido\"\n    };\n}\n\nfunction selectedText(selectId){\n    const select = byId(selectId);\n    return select.options[select.selectedIndex].text;\n}\n\nfunction setStatus(text, variant){\n    const status = byId(\"connectionStatus\");\n    status.lastChild.textContent = \" \" + text;\n    status.classList.toggle(\"is-warn\", variant === \"warn\");\n}\n\nfunction syncSummary(){\n    const payload = campaignPayload();\n    byId(\"summarySystem\").textContent = selectedText(\"sistema\");\n    byId(\"summaryTone\").textContent = labels[payload.tom] || payload.tom;\n    byId(\"summaryLocation\").textContent = payload.local;\n    byId(\"campaignLocation\").textContent = payload.local;\n    byId(\"toneLabel\").textContent = labels[payload.tom] || payload.tom;\n}\n\nfunction setBusy(isBusy){\n    byId(\"introButton\").disabled = isBusy;\n    byId(\"sendButton\").disabled = isBusy;\n}\n\nfunction scrollLog(){\n    const chatLog = byId(\"chatLog\");\n    chatLog.scrollTop = chatLog.scrollHeight;\n}\n\nfunction createMessage(type, speaker, text, meta){\n    const message = document.createElement(\"article\");\n    message.className = \"message \" + type;\n\n    const speakerEl = document.createElement(\"span\");\n    speakerEl.className = \"speaker\";\n    speakerEl.textContent = speaker;\n\n    const textEl = document.createElement(\"div\");\n    textEl.className = \"message-text\";\n    textEl.textContent = text;\n\n    message.appendChild(speakerEl);\n    message.appendChild(textEl);\n\n    if(meta){\n        const metaEl = document.createElement(\"div\");\n        metaEl.className = \"message-meta\";\n        metaEl.textContent = meta;\n        message.appendChild(metaEl);\n    }\n\n    return message;\n}\n\nfunction replaceMessage(message, type, speaker, text, meta){\n    message.replaceWith(createMessage(type, speaker, text, meta));\n    scrollLog();\n}\n\nfunction resetLog(){\n    byId(\"chatLog\").replaceChildren();\n}\n\nasync function requestNarrative(endpoint, payload){\n    const response = await fetch(endpoint,{\n        method:\"POST\",\n        headers:{\n            \"Content-Type\":\"application/json\"\n        },\n        body:JSON.stringify(payload)\n    });\n\n    if(!response.ok){\n        throw new Error(\"HTTP \" + response.status);\n    }\n\n    const data = await response.json();\n    return data.narrativa || data.message || \"O destino permanece incerto.\";\n}\n\nfunction fallbackIntro(tom){\n    return fallbackIntroductions[tom] || fallbackIntroductions.Epico;\n}\n\nfunction fallbackAction(){\n    return fallbackActions[Math.floor(Math.random() * fallbackActions.length)];\n}\n\nasync function gerarIntroducao(){\n    syncSummary();\n    setBusy(true);\n    setStatus(\"Gerando cenário\", \"\");\n    resetLog();\n\n    const payload = campaignPayload();\n    const loading = createMessage(\"ia\", \"Mestre Arcane\", \"Abrindo o grimório da campanha...\");\n    byId(\"chatLog\").appendChild(loading);\n    scrollLog();\n\n    try{\n        const narrativa = await requestNarrative(\"/api/introducao\",payload);\n        replaceMessage(loading,\"ia\",\"Mestre Arcane\",narrativa);\n        setStatus(\"Conectado ao Mestre\", \"\");\n    }\n    catch(error){\n        replaceMessage(\n            loading,\n            \"ia\",\n            \"Mestre Arcane\",\n            fallbackIntro(payload.tom),\n            \"Prévia local enquanto a API do Node-RED/Gemini não responde.\"\n        );\n        setStatus(\"Prévia local\", \"warn\");\n        console.warn(\"API do Node-RED indisponível; usando introdução local.\", error.message);\n    }\n    finally{\n        setBusy(false);\n    }\n}\n\nasync function enviarMensagem(){\n    const input = byId(\"userInput\");\n    const acao = input.value.trim();\n\n    if(!acao){\n        input.focus();\n        return;\n    }\n\n    syncSummary();\n    setBusy(true);\n\n    byId(\"chatLog\").appendChild(createMessage(\"player\",\"Jogador\",acao));\n    input.value = \"\";\n\n    const loading = createMessage(\"ia\",\"Mestre Arcane\",\"Consultando dados, mapas e presságios...\");\n    byId(\"chatLog\").appendChild(loading);\n    scrollLog();\n\n    try{\n        const narrativa = await requestNarrative(\"/api/rpg\",{\n            acao:acao,\n            ...campaignPayload()\n        });\n        replaceMessage(loading,\"ia\",\"Mestre Arcane\",narrativa);\n        setStatus(\"Conectado ao Mestre\", \"\");\n    }\n    catch(error){\n        replaceMessage(\n            loading,\n            \"ia error\",\n            \"Mestre Arcane\",\n            fallbackAction(),\n            \"Resposta simulada para manter a mesa jogável sem conexão com a API.\"\n        );\n        setStatus(\"Prévia local\", \"warn\");\n        console.warn(\"API do Node-RED indisponível; usando resposta local.\", error.message);\n    }\n    finally{\n        setBusy(false);\n        input.focus();\n    }\n}\n\nfunction scheduleIntroducao(){\n    window.clearTimeout(introTimer);\n    introTimer = window.setTimeout(gerarIntroducao,300);\n}\n\n[\"sistema\",\"tom\"].forEach(function(id){\n    byId(id).addEventListener(\"change\",scheduleIntroducao);\n});\n\nbyId(\"local\").addEventListener(\"change\",scheduleIntroducao);\nbyId(\"local\").addEventListener(\"input\",syncSummary);\n\nbyId(\"userInput\").addEventListener(\"keydown\",function(event){\n    if(event.key === \"Enter\" && !event.shiftKey){\n        event.preventDefault();\n        enviarMensagem();\n    }\n});\n\nwindow.addEventListener(\"load\",function(){\n    syncSummary();\n    gerarIntroducao();\n});\n</script>\n</body>\n</html>\n",
        "output": "str",
        "x": 470,
        "y": 300,
        "wires": [
            [
                "5b5463123c98e82d"
            ]
        ]
    },
    {
        "id": "5b5463123c98e82d",
        "type": "http response",
        "z": "f4adac4313098acc",
        "name": " Exibir Página",
        "statusCode": "",
        "headers": {},
        "x": 710,
        "y": 300,
        "wires": []
    },
    {
        "id": "dae8cd8ea6fb8ca4",
        "type": "function",
        "z": "f4adac4313098acc",
        "name": "Interpretar Resposta IA",
        "func": "try {\n\n    const texto =\n        msg.payload.candidates[0]\n        .content.parts[0]\n        .text;\n\n    const limpo = texto\n        .replace(/```json/gi, \"\")\n        .replace(/```/g, \"\")\n        .trim();\n\n    const resposta = JSON.parse(limpo);\n\n    msg.payload = resposta;\n\n}\ncatch (erro) {\n\n    msg.payload = {\n        resultado: \"erro\",\n        narrativa: \"O Mestre Arcane não conseguiu interpretar a resposta da IA.\",\n        erro: erro.message\n    };\n\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 60,
        "wires": [
            [
                "039002679e4d08db"
            ]
        ]
    },
    {
        "id": "039002679e4d08db",
        "type": "http response",
        "z": "f4adac4313098acc",
        "name": "Responder ao Jogador",
        "statusCode": "",
        "headers": {},
        "x": 950,
        "y": 60,
        "wires": []
    },
    {
        "id": "1de805a290339c22",
        "type": "http in",
        "z": "f4adac4313098acc",
        "name": "Gerar Introdução",
        "url": "/api/introducao",
        "method": "post",
        "upload": false,
        "skipBodyParsing": false,
        "swaggerDoc": "",
        "x": 250,
        "y": 440,
        "wires": [
            [
                "16fdfdee75459a07"
            ]
        ]
    },
    {
        "id": "16fdfdee75459a07",
        "type": "function",
        "z": "f4adac4313098acc",
        "name": "Montar Prompt Introdução",
        "func": "const sistema = msg.payload.sistema;\nconst tom = msg.payload.tom;\nconst local = msg.payload.local;\n\nconst prompt = `\nVocê é um mestre de RPG profissional.\n\nCrie uma introdução curta para uma aventura.\n\nSistema: ${sistema}\nTom: ${tom}\nLocal: ${local}\n\nRegras:\n\n- Máximo de 120 palavras.\n- Seja imersivo.\n- Descreva o ambiente.\n- Termine perguntando o que o jogador faz.\n- Não use listas.\n\nResponda apenas com a narrativa.\n`;\n\nconst API_KEY = \"SUA_CHAVE_API_AQUI\";\n\nmsg.payload = {\n    contents: [\n        {\n            parts: [\n                {\n                    text: prompt\n                }\n            ]\n        }\n    ]\n};\n\nmsg.url =\n\"https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent?key=\"\n+ API_KEY;\n\nmsg.headers = {\n    \"Content-Type\":\"application/json\"\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 440,
        "wires": [
            [
                "16df498202150ca0"
            ]
        ]
    },
    {
        "id": "16df498202150ca0",
        "type": "http request",
        "z": "f4adac4313098acc",
        "name": "Chamar mestre de IA (gemini)",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 590,
        "y": 520,
        "wires": [
            [
                "70d906d509adb0f1"
            ]
        ]
    },
    {
        "id": "70d906d509adb0f1",
        "type": "function",
        "z": "f4adac4313098acc",
        "name": "Interpretar Introdução",
        "func": "const texto =\nmsg.payload.candidates[0]\n.content.parts[0]\n.text;\n\nmsg.payload = {\n    narrativa: texto\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 890,
        "y": 460,
        "wires": [
            [
                "9bdd3997b464cdbb"
            ]
        ]
    },
    {
        "id": "9bdd3997b464cdbb",
        "type": "http response",
        "z": "f4adac4313098acc",
        "name": "Enviar Introdução",
        "statusCode": "",
        "headers": {},
        "x": 1120,
        "y": 420,
        "wires": []
    }
]
